body {
    background-color: antiquewhite;
}
div {
    background-color: brown;
    width: 800px;
    /*margin-left: ((100%-400px)/2);*/
    margin-left: calc((100% - 800px) / 2); /*skaiciuoja lygti. Viso (ekrano plotis-turimas plotis)/2 */
}