body {
    padding: 25px;
}
body > div {
    width: 800px;
    /*margin-left: ((100%-400px)/2);*/
    margin-left: calc((100% - 800px) / 2); /*skaiciuoja lygti. Viso (ekrano plotis-turimas plotis)/2 */
    background-color: rgb(255, 255, 255);
}
    header {
        display: inline-block;
        width: 100%;
    }
        header > img {
            /* display: inline-block; */
            width: 50px;
            float: left;
        }
        nav {
            /* display: inline-block;  */
            float: right;
        }
            a {
                display: inline-block;
                float: left;
                margin-left: 0;
                line-height: 20px;
                margin-top: 10px;
                margin-left: 15px;
                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;
                text-decoration: none;
                color: rgb(112, 112, 112);
            }
            a:nth-of-type(5) {
                border: 3px solid  rgb(112, 112, 112);
                border-radius: 20px;
            }
    main {
        display: inline-block;
        width: 100%;
    }
        main > div {
            width: 40%;
            /* display: inline-block; */
            float: left;
        }
            h1 {
                display: inline-block;
                font-size: 120px;
                color:  rgb(112, 112, 112);
                margin: 0;
                margin-top: 100px;
            }
            p {
                display: inline-block;
                font-size: 25px;
                margin: 0;
                color:  rgb(112, 112, 112);
            }
        main > img {
            /* display: inline-block; */
            float: right;
            width: 45%;
            margin-top: 100px;
        }